<div class="media-text">
    <div class="media image featured">
        <img src="https://www.fb.org/imgz/Commodities/SpecialtyCrops/NCFB_MarkStebnicki_LettuceField_feat.jpg" alt="" style="aspect-ratio: 1/1; object-fit: cover; ">
    </div>
    <div class="text">
        <p>Welcome (or welcome back)! My name is Deanna, and I’m so glad you made it to my site!
        Whether you’re a newer engineer who happened to find one of my videos
        and came looking for more, or you accidentally found this site because
        I talk too much about gardening and have somehow ranked in google, my
        hope is that you can find something useful here.</p>
        <a href="{{ url_for('get_blogs') }}" class="button icon solid fa-file">Edit Post</a>
    </div>
</div>