{% from "bootstrap/wtf.html" import quick_form %}
{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<main class="mb-4">
  <section class="container">
    <h1>Log In</h1>

    <div class="row">
      <!-- TODO: add a flash message here for users registering twice -->
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--TODO: render login form here-->
        {% if error %}
          <p class="flash">{{ error }}</p>
        {% endif %}
        {{ quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

         <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
      </div>
    </div>
  </section>
</main>

{% endblock %}
