{% from "bootstrap/wtf.html" import quick_form %}
{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<main class="mb-4">
  <section class="container">
    <h1>Register</h1>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if error %}
          <p class="flash">{{ error }}</p>
        {% endif %}
        {{ quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </section>
</main>

{% endblock %}
