@use '00-config' as *;

.banner {
    color: $white;
    background-size: cover;
    background-position: center;
    padding: 1.5rem 5%;
    position: relative;

    @media screen and (min-width: $break-tablet) {
        padding: 1.5rem 5% 2.5;
    }

    @media screen and (min-width: $break-desktop) {
        padding: 2.5rem 5% 3.5rem ;
    }

    &:before {
        background-color: $terracotta-dark;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        opacity: 0.65;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &>*{
        position: relative;
        z-index: 10;
    }
}