@use '00-config' as *;

.dots {
    width:60px;
    height:30px;
    border:none;
    background:transparent;
    position:relative;
    cursor:pointer;
    margin: .75rem .5rem 0;
    transform: scale(.5);
    z-index: 1000;

    &:focus {
       outline: 2px solid $terracotta-dark;
       outline-offset: 25px;
    }


    @media screen and (min-width: $break-tablet) {
        display: none;
    }

    &.dots {
        &:after,
        &:before,
        span {
            width:10%;
            height:20%;
            border-radius:100px;
            position:absolute;
            left:0px;
            background: $terracotta-dark;
            transform:rotate(0deg);
            transition: all 0.4s;

            left: 1%;
            right: 1%;
            margin: 0 auto;
        }

        &:after,
        &:before {
            content:"";
        }

        &:after {
            top:-10%;
            margin-top:0px;
        }

        &:before {
            bottom:-10%;
            margin-bottom:0px;
        }

        span {
            top:50%;
             margin-top:-2px;
        }

        &.on {
            &:after {
                transform:rotate(135deg)translate(9px,-9px);
                width: 100%;
            }

            &:before {
                transform:rotate(225deg);
                bottom:50%;
                margin-bottom:-2px;
                width: 100%;
            }

            span {
                transform:rotate(135deg);
            }
        }
    }
}