@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0vw);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0vw);
  }

  to {
    transform: translateX(-100vw);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transform-gradient {
  0% {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
  }
}
