/***** BREAKPOINTS *****/
$break-mobile: 480px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-xl: 1200px;

/****** COLORS *******/
$white: #fff;

$green-light: #abb28a;
$green: #526645;
$green-dark: #274223;

$terracotta-light: #edb078;
$terracotta: #df924c;
$terracotta-dark: #8e3f1b;

$beige-1: #faf6f2;
$beige-2: #f9eee0;
$beige-3: #e7cdac;
$beige-4: #c1a27a;

$dark-brown: #2e261b;



